
* {
  box-sizing: border-box;
}
#btn1{
    float: left;
    padding: 30px;
    font-size: 30px;
}
#btn2{
    float: left;
    padding: 30px;
    font-size: 30px;
}
#btn3{
    float: left;
    padding: 30px;
    font-size: 30px;
}
a{
    text-decoration: none;
}
.sidenav{
    padding-bottom:20px;
}
.column {
    position: relative;
}
.left {
    width: 100%;
}
.right {
    
    width: 100%%;
}
#toptext{

    background-color:transparent;
    -webkit-text-stroke: 1px black;	
    font-weight: bold;
    color: aliceblue;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
